html,
body {
    background: #eee;
    height: 100%;
}

body,
input {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: normal;
}

.hero-unit {
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

.search-form input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 80px;
    line-height: 102px;
    padding: 50px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.progress.no-transition .bar {

    -webkit-transition: width 0 ease;
    -moz-transition: width 0 ease;
    -o-transition: width 0 ease;
    transition: width 0 ease;
}

.service-netflix .service-logo {
    background-image: url('../img/netflix-logo.png');
}

.service-headweb .service-logo {
    background-image: url('../img/headweb-logo.png');
}

.service-hbo .service-logo {
    background-image: url('../img/hbo-logo.png');
}

.service-voddler .service-logo {
    background-image: url('../img/voddler-logo.gif');
}

.service-viaplay .service-logo {
    background-image: url('../img/viaplay-logo.png');
}

.service-lovefilm .service-logo {
    background-image: url('../img/lovefilm-logo.gif');
}

.service-logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    height: 50px;
}

#footer {
    height: 60px;
}

#footer {
    background-color: #E0E0E0;
}

#footer .container {
    display: table;
    height: 100%;
}

#footer .container p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}